[submodule "apps/movie"]
	path = apps/movie
	url = git@github.com:MaximilienBEY/microservices-movie.git
[submodule "apps/auth"]
	path = apps/auth
	url = git@github.com:MaximilienBEY/microservices-auth.git
[submodule "apps/user"]
	path = apps/user
	url = git@github.com:MaximilienBEY/microservices-user.git
