[submodule "apps/movie"]
	path = apps/movie
	url = https://github.com/MaximilienBEY/microservices-movie.git
[submodule "apps/auth"]
	path = apps/auth
	url = https://github.com/MaximilienBEY/microservices-auth.git
[submodule "apps/user"]
	path = apps/user
	url = https://github.com/MaximilienBEY/microservices-user.git
[submodule "apps/cinema"]
	path = apps/cinema
	url = https://github.com/MaximilienBEY/microservices-cinema.git
[submodule "apps/reservation"]
	path = apps/reservation
	url = https://github.com/MaximilienBEY/microservices-reservation.git
